<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Tuzisir</title>
    <meta name="keywords" content="tuzisir" />
    <meta name="description" content="tuzisir" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/blog/css/base.css" rel="stylesheet">
    <link href="/static/blog/css/index.css" rel="stylesheet">
    <link href="/static/blog/css/m.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <script src="/static/common/js/jquery.min.js" ></script>
    <script src="/static/blog/js/jquery.easyfader.min.js"></script>
    <script src="/static/blog/js/hc-sticky.js"></script>
    <!--<script src="__STATIC__/blog/js/comm.js"></script>-->
    <script src="/static/blog/js/scrollReveal.js"></script>
    <script src="/static/blog/js/modernizr.js"></script>
    <script src="/static/common/layui/layui.all.js"></script>
    <link href="/static/common/layui/css/layui.css" rel="stylesheet">
    <script src="/static/common/js/my.layui.pack.js"></script>
</head>
<body>