<header class="header-navigation" id="header">
    <nav>
        <div class="logo"><a href="#">Tuzisir</a></div>
        <h2 id="mnavh"><span class="navicon"></span></h2>
        <ul id="starlist">
            {foreach $navList as $key=>$value }
                {if $value.id eq $nowNav}
                    <li style="background-color: #3690cf;"><a style="color: #fff9ec;" href="{$value.nav_url}?id={$value.id}">{$value.nav_name}</a></li>
                {else /}
                    <li><a href="{$value.nav_url}?id={$value.id}">{$value.nav_name}</a></li>
                {/if}
            {/foreach}
        </ul>
        <div>
            <div class="searchbox" style="width: 8rem;padding-top: 1rem;">
                <a href="#" id="qqLoginBtn"></a>
            </div>
        </div>
    </nav>
</header>