{include file='/common/header' /}
{include file='/common/nav' /}
<style>
    img{
        width:auto;
        height:auto;
        max-width:100%;
        max-height:100%;
    }
</style>

<article>
        <main style="width: 27%;">
            <div class="news_box" style="overflow:auto;height: 800px;">
                <ul>
                    {foreach $toolList as $toolKey=>$toolValue }
                    <a href="#" >
                        <li class="left-nav" data-url="{$toolValue.url}" data-id="{$toolValue.id}" style="width: 100%;">
                            <i>
                                <img src="{$toolValue.pic_url}">
                            </i>
                            <div style="height:80px;">
                                <div style="padding-top: 1rem;">
                                    <strong>{$toolValue.title}</strong>
                                </div>
                                <div style="margin-top: 1rem;">使用:<span class="visit-num-{$toolValue.id}">{$toolValue.visit_num}</span>次</div>
                            </div>
                        </li><br>
                    </a>
                    {/foreach}
                </ul>
            </div>
        </main>
    <iframe src="https://www.baidu.com" id="right-iframe" style="border:3px solid #fff9ec;height:800px;width: 70%;float: right;" frameborder="0"></iframe>
</article>
{include file='/common/footer' /}
<script>
    $(function () {
        changeIframe();
    });
    // 改变右侧iframe显示
    function changeIframe() {
        $('.left-nav').click(function () {
            var id = $(this).data('id');
            // 异步增加阅读量
            curlAjax("{:url('blog/tool/add_visit_num')}", {id:id},'commonReturn');
            $('.visit-num-'+id).html(parseInt($('.visit-num-'+id).html())+1);
            $('#right-iframe').attr('src', $(this).data('url'));
        });
    }
    
    function commonReturn($data) {
        
    }

    //调用QC.Login方法，指定btnId参数将按钮绑定在容器节点中
    QC.Login({
        //btnId：插入按钮的节点id，必选
        btnId:"qqLoginBtn",
        //用户需要确认的scope授权项，可选，默认all
        scope:"all",
        //按钮尺寸，可用值[A_XL| A_L| A_M| A_S|  B_M| B_S| C_S]，可选，默认B_S
        size: "A_XL"
    }, function(reqData, opts){
        //根据返回数据，更换按钮显示状态方法
        var dom = document.getElementById(opts['btnId']),
            _logoutTemplate=[
                //头像
                '<span><img src="{figureurl}" class="{size_key}"/></span>',
                //昵称
                '<span>{nickname}</span>',
                //退出
                '<span><a style="color: #0a6cd6;" href="javascript:QC.Login.signOut();">退出</a></span>'
            ].join("");
        $('.searchbox').css({'padding-top':'0rem'});
        dom && (dom.innerHTML = QC.String.format(_logoutTemplate, {
            nickname : QC.String.escHTML(reqData.nickname), //做xss过滤
            figureurl : reqData.figureurl
        }));
    }, function(opts){ // 注销成功
        $('.searchbox').css({'padding-top':'1rem'});
        alert('QQ登录 注销成功');
    });
</script>

