<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Tuzisir Tool!</title>
    <meta name="keywords" content="tuzisir" />
    <meta name="description" content="tuzisir" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <script src="/static/common/js/jquery.min.js" ></script>
    <script src="/static/common/layui/layui.all.js"></script>
    <link href="/static/common/layui/css/layui.css" rel="stylesheet">
    <link href="/static/common/css/tuzisir.css" rel="stylesheet">
    <script src="/static/common/js/my.layui.pack.js"></script>
</head>
<body>
